main{
    background-color: #A9BDCE;
    font-size: 1.3em;
}

.container{
    background-color: white;
    color: #1F3B58;
}

.sobre{

}

.card-img-top{
    width: 90%;
    padding-left: 10%;
}

.img{
    width: 30%;
    float: left;
    padding: 1%;
}
