main{
    background-color: #A9BDCE;
    font-size: 1.3em;
}

.container{
    background-color: white;
    color: #1F3B58;
}

.card-img-top{
    width: 90%;
    padding-left: 10%;
}

.banner{
    width: 100%;
}

.centro{
    text-align: center;
    padding-top: 1%;
    border-radius: 2em;
}

.img-fluid{
    border-radius: 2em
}

.footer{
    text-align: center;
    font-size: 1.6em;
    padding: 1%;
}

.logo{
    width: 3%;
    padding-right: 1%;
}

.espacobaixo{
    padding-bottom: 2%;
    
}

.imggal{
    width: 100%;
    border-radius: 2em;
    box-shadow: 10px 10px 10px 2px #6a90b8;
}

.container-fluid{
    background-color:#A9BDCE;
}

.video{
    text-align: center;
}

.accordion{
    padding-bottom: 2%;
}

@media (max-width:767px) {
    iframe{
        width: 70%;
    }
    .logo{
        width: 5%;
    }
}

